html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
 
}
/* Arabic-specific Styles */
html[lang="ar"] {
    direction: rtl; text-align: right;}
html[lang="ar"] .nav-list li {
    margin-right: 20px;  margin-left: 20px;}
html[lang="ar"] .product-details {
    padding-right: 20px; }
html[lang="en"] .product-details {
    padding-left: 20px; }








/* Light Theme */
body.light-theme {
    background-color: #fff !important;
    color: #000 !important;
}

/* Dark Theme */
body.dark-theme {
    background-color: #000 !important;
    color: #fff !important;
}

body.dark-theme .hero {
    background-image: url('images/your-image-dark.jpg');
}

body.dark-theme .product {
    background-color: #333;
    border-color: #666;
}

header {
    background-color: #333;
    color: white;
    width: 100%;
    height: 60px; /* Set fixed height */
    padding: 0 20px; /* Padding left and right */
    box-sizing: border-box;
    position: relative;
    position: fixed; /* or position: fixed if you want it to stay even after scrolling */
    top: 0;
    z-index: 1000;

}





header nav {
    display: flex;
    justify-content: space-between;

    justify-content: center;
    height: 60px; /* Make the nav fill the header height */
    align-items: center; /* Center the nav items vertically */
}


.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1rem;
}


.nav-list li {
    margin-left: 20px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}







.menu-toggle {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px; 
    width: 30px; 
    height: 21px;
    z-index: 1000;
    left: auto;
    right: 20px;
}
html[lang="ar"] .menu-toggle {
    display: none; 
    position: absolute;
    top: 20px;
    left: 20px;
    right: auto; 
}

.menu-toggle .hamburger,
.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
    content: '';
    background-color: white;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}

.menu-toggle .hamburger::before {
    top: -8px;
}

.menu-toggle .hamburger::after {
    top: 10px;
}

/* When the menu is active, show the 'X' */
.menu-toggle.active .hamburger {
    background-color: transparent;
}

.menu-toggle.active .hamburger::before {
    transform: rotate(45deg);
    top: 0;
}

.menu-toggle.active .hamburger::after {
    transform: rotate(-45deg);
    top: 0;
}








/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/your-image1.jpg');
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}

.hero-content h1, .hero-content p {
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(5, 5, 10);
}

.hero-content h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-content p {
    font-size: 1.5rem;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}








.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 200px;
    height: auto;
}

.product-details h2 {
    margin: 0;
    margin-left: 20px;
}






.logo-container {
    position: absolute;
    top: 10px; 
    z-index: 1000;
    background-color: transparent;
}
.logo {
    display: block;
    border: none;
    height: 40px;


}
html[lang="en"] .logo-container {
    left: 20px;
}
html[lang="ar"] .logo-container {
    right: 20px;
    left: auto; /* Remove left positioning */
}






/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    box-sizing: border-box;
}

footer a {
    color: #ddd;
    text-decoration: none;
}

/* Footer Controls */
.footer-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer-controls label {
    margin-right: 10px;
}

.footer-controls select {
    padding: 5px;
    margin-right: 15px;
}

/* Optional: Add custom styles for the select elements */
select {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
.current-values {
    margin-top: 10px;
}

.current-values p {
    margin: 5px 0;
}


@media (max-width: 1024px) {
    header nav {
        justify-content: right;
    }
}


/* Responsive Styles */
@media (max-width: 768px) {
    .product {
        flex-direction: column;
    }

    .product img {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }


    .product-details  {
        padding-left: 0 !important;
        margin-left: 0;
    }


    header nav {
        height: 60px;
    }
    .menu-toggle {
        display: block; /* Show hamburger on small screens */
    }
    html[lang="ar"] .menu-toggle {
        display: block;
    }
    
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 55px;
        right: 10px;
        width: 150px;
        background-color: #333;
        z-index: 999;
        text-align: center;
        border-radius: 10px;
        font-size: 1rem;
    }

    .nav-list.active {
        display: flex; /* Show the menu when active */
    }

    .nav-list li {
        margin: 10px 0;
    }


}











#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* You can adjust this */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
  }
  
  .loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }
  
  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f08080;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }
  
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes shadow324 {
    0%, 100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }
  